body {
  background-color: hsl(220deg 15% 55%);
}

.white-background {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg 45% 44%);
}
